@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Chivo, sans-serif; }

.banner {
  width: 100%;
  height: 38px;
  background-color: #2736dd;
  display: flex;
  align-items: center; }
  .banner .banner-contant {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    line-height: 9px;
    font-family: Chivo, sans-serif;
    font-size: 12px;
    letter-spacing: 1.71px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 7px; }
    .banner .banner-contant .banner-text {
      display: flex;
      color: #fff;
      flex-direction: column;
      align-items: center; }
      .banner .banner-contant .banner-text a {
        color: #fff; }
    .banner .banner-contant button {
      position: absolute;
      right: 5px;
      background: none;
      border: none;
      margin-right: 12px; }
      .banner .banner-contant button:hover {
        background: #434fd3; }
      .banner .banner-contant button:active {
        background: #111a7e; }

header {
  width: 100%;
  height: 55px;
  background-color: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px; }
  header nav img {
    margin-left: 30px; }
  header .checkout-cart img {
    margin-right: 30px; }

main .landing-page {
  width: auto;
  height: 320px; }
  main .landing-page img {
    width: 100%;
    height: 100%; }
  main .landing-page .mask-text {
    width: -webkit-fill-available;
    height: 262px;
    opacity: 0.8;
    top: 156px;
    background-image: linear-gradient(360deg, black, transparent);
    position: absolute; }
  main .landing-page .text-btn {
    position: absolute;
    padding-top: 144px;
    padding-left: 20px;
    top: 156px; }
    main .landing-page .text-btn p {
      width: 76px;
      height: 15px;
      font-family: Chivo, sans-serif;
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.5px;
      color: #fff; }
    main .landing-page .text-btn h4 {
      width: 280px;
      height: 40px;
      margin: 0px 0 11px;
      font-family: Roboto, sans-serif;
      font-size: 40px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: italic;
      line-height: 1;
      letter-spacing: 0.67px;
      color: #fff; }
    main .landing-page .text-btn button {
      width: 264px;
      height: 43px;
      color: #fff;
      background: none;
      border: solid 2px #fff;
      transform: skewX(339deg);
      margin-left: 10px; }
      main .landing-page .text-btn button:hover {
        transform: skewX(0deg);
        margin-left: 0px;
        opacity: 0.8;
        background-image: linear-gradient(360deg, white, transparent); }
      main .landing-page .text-btn button:active {
        background: #414bce; }
      main .landing-page .text-btn button span {
        width: 128px;
        height: 15px;
        font-family: Chivo;
        font-size: 13px;
        font-weight: bold; }

main .landing-slider {
  margin-top: 5px;
  width: 100%;
  height: 221px; }
  main .landing-slider .landing-slider-1 > img {
    width: 100%;
    height: 221px; }
  main .landing-slider .mask-slider {
    top: 535px;
    width: -webkit-fill-available;
    height: 111px;
    background-image: linear-gradient(360deg, black, transparent);
    position: absolute; }
  main .landing-slider .text-slider {
    top: 580px;
    position: absolute; }
    main .landing-slider .text-slider P {
      width: 77px;
      height: 15px;
      margin-left: 20px;
      font-family: Chivo;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2.5px;
      color: #fff; }
    main .landing-slider .text-slider h4 {
      margin-left: 20px;
      width: 280px;
      height: 30px;
      font-family: Roboto;
      font-size: 26px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: italic;
      line-height: 1.15;
      letter-spacing: 0.5px;
      color: #fff; }

main .product {
  height: 700px;
  margin-top: 5px;
  padding: 55px 20px; }
  main .product h2 {
    margin: 20px 0px 20px 0px;
    transform: rotate(0deg);
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    line-height: 1.15;
    letter-spacing: 0.5px;
    color: #2736dd; }
  main .product img {
    height: 210px;
    width: 100%; }
  main .product .product-detail p {
    padding-top: 20px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #2736dd; }
  main .product .product-detail h3 {
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    line-height: 1.15;
    color: #272f33;
    padding-bottom: 10px; }
  main .product .product-detail .product-price-detail div {
    display: flex; }
    main .product .product-detail .product-price-detail div img {
      width: 96px;
      height: 17px; }
    main .product .product-detail .product-price-detail div p p {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2.5px;
      color: #2736dd; }
    main .product .product-detail .product-price-detail div p del {
      color: #8d9294; }
  main .product .product-detail .product-price-detail p {
    font-family: Chivo ,sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #272f33; }
  main .product .product-detail .product-price-detail button {
    margin-top: 30px;
    width: 228px;
    height: 43px;
    color: #2736dd;
    background: none;
    border: solid 2px #2736dd;
    transform: skewX(339deg);
    margin-left: 10px; }
    main .product .product-detail .product-price-detail button:hover {
      color: #fff;
      transform: skewX(0deg);
      margin-left: 0px;
      opacity: 0.8;
      background-image: linear-gradient(360deg, #414bce, transparent); }
    main .product .product-detail .product-price-detail button:active {
      background: #414bce; }

main .other-trips {
  height: 730px; }
  main .other-trips .trip-name-1 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 132px; }
    main .other-trips .trip-name-1 a > img {
      width: 100%;
      height: 132px; }
    main .other-trips .trip-name-1 .mask-trips {
      margin-right: 10px;
      top: 1530px;
      width: -webkit-fill-available;
      height: 66px;
      background-image: linear-gradient(360deg, black, transparent);
      position: absolute; }
    main .other-trips .trip-name-1 .text-trip-name-1 {
      top: 1530px;
      position: absolute;
      margin-left: 20px; }
      main .other-trips .trip-name-1 .text-trip-name-1 h3 {
        width: 42px;
        height: 15px;
        margin: 0 78px 0 0;
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff; }
      main .other-trips .trip-name-1 .text-trip-name-1 h2 {
        width: 120px;
        height: 30px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #fff; }
  main .other-trips .trip-name-2 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 132px; }
    main .other-trips .trip-name-2 a > img {
      width: 100%;
      height: 132px; }
    main .other-trips .trip-name-2 .mask-trips {
      margin-right: 10px;
      top: 1667px;
      width: -webkit-fill-available;
      height: 66px;
      background-image: linear-gradient(360deg, black, transparent);
      position: absolute; }
    main .other-trips .trip-name-2 .text-trip-name-2 {
      top: 1667px;
      position: absolute;
      margin-left: 20px; }
      main .other-trips .trip-name-2 .text-trip-name-2 h3 {
        width: 42px;
        height: 15px;
        margin: 0 78px 0 0;
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff; }
      main .other-trips .trip-name-2 .text-trip-name-2 h2 {
        width: 120px;
        height: 30px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #fff; }
  main .other-trips .trip-name-3 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 132px; }
    main .other-trips .trip-name-3 a > img {
      width: 100%;
      height: 132px; }
    main .other-trips .trip-name-3 .mask-trips {
      margin-right: 10px;
      top: 1804px;
      width: -webkit-fill-available;
      height: 66px;
      background-image: linear-gradient(360deg, black, transparent);
      position: absolute; }
    main .other-trips .trip-name-3 .text-trip-name-3 {
      top: 1804px;
      position: absolute;
      margin-left: 20px; }
      main .other-trips .trip-name-3 .text-trip-name-3 h3 {
        width: 42px;
        height: 15px;
        margin: 0 78px 0 0;
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff; }
      main .other-trips .trip-name-3 .text-trip-name-3 h2 {
        width: 120px;
        height: 30px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #fff; }
  main .other-trips .trip-name-4 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 132px; }
    main .other-trips .trip-name-4 a > img {
      width: 100%;
      height: 132px; }
    main .other-trips .trip-name-4 .mask-trips {
      margin-right: 10px;
      top: 1940px;
      width: -webkit-fill-available;
      height: 66px;
      background-image: linear-gradient(360deg, black, transparent);
      position: absolute; }
    main .other-trips .trip-name-4 .text-trip-name-4 {
      top: 1940px;
      position: absolute;
      margin-left: 20px; }
      main .other-trips .trip-name-4 .text-trip-name-4 h3 {
        width: 42px;
        height: 15px;
        margin: 0 78px 0 0;
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff; }
      main .other-trips .trip-name-4 .text-trip-name-4 h2 {
        width: 120px;
        height: 30px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #fff; }
  main .other-trips .trip-name-5 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 132px; }
    main .other-trips .trip-name-5 a > img {
      width: 100%;
      height: 132px; }
    main .other-trips .trip-name-5 .mask-trips {
      margin-right: 10px;
      top: 2078px;
      width: -webkit-fill-available;
      height: 66px;
      background-image: linear-gradient(360deg, black, transparent);
      position: absolute; }
    main .other-trips .trip-name-5 .text-trip-name-5 {
      top: 2078px;
      position: absolute;
      margin-left: 20px; }
      main .other-trips .trip-name-5 .text-trip-name-5 h3 {
        width: 42px;
        height: 15px;
        margin: 0 78px 0 0;
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff; }
      main .other-trips .trip-name-5 .text-trip-name-5 h2 {
        width: 120px;
        height: 30px;
        font-family: Roboto;
        font-size: 26px;
        font-weight: bold;
        font-stretch: condensed;
        font-style: italic;
        line-height: 1.15;
        letter-spacing: 0.5px;
        color: #fff; }

section .explore-trips {
  padding-left: 20px;
  height: 400px; }
  section .explore-trips h2 {
    margin: 20px 0px 20px 0px;
    transform: rotate(0deg);
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    line-height: 1.15;
    letter-spacing: 0.5px;
    color: #2736dd; }
  section .explore-trips div > .card1 > img {
    margin-bottom: 20px;
    height: 180px;
    width: 180px; }
  section .explore-trips div > .card1 > .cardtext > p {
    width: 180px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    line-height: 1.25;
    letter-spacing: normal;
    color: #8a8a8a; }
  section .explore-trips div > .card1 > .cardtext span p {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2.5px;
    color: #2736dd; }
  section .explore-trips div > .card1 > .cardtext span del {
    color: #8d9294; }

section .inta-section {
  height: 500px; }
  section .inta-section h2 {
    margin: 20px 0px 20px 0px;
    transform: rotate(0deg);
    font-family: Roboto, sans-serif;
    font-size: 26px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: italic;
    line-height: 1.15;
    letter-spacing: 0.5px;
    color: #2736dd;
    margin-left: 50px; }
  section .inta-section button {
    margin-top: 30px;
    width: 197px;
    height: 43px;
    color: #2736dd;
    background: none;
    border: solid 2px #2736dd;
    transform: skewX(339deg);
    margin-left: 10px;
    margin-top: 0px;
    margin-left: 50px; }
    section .inta-section button:hover {
      color: #fff;
      transform: skewX(0deg);
      margin-left: 0px;
      opacity: 0.8;
      background-image: linear-gradient(360deg, #414bce, transparent); }
    section .inta-section button:active {
      background: #414bce; }
  section .inta-section div {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    justify-content: center;
    margin-top: 20px; }
    section .inta-section div img {
      height: 158px;
      width: 158px; }

footer {
  border: solid red 1px;
  height: 754px;
  background-image: url(https://source.unsplash.com/random/search=?men-in-trek);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  footer .footer-mask {
    height: 754px;
    opacity: 0.3;
    background-color: #272f33; }
  footer .moto3 {
    padding-left: 30px;
    margin-top: 45px;
    position: absolute;
    display: flex;
    top: 3149px;
    flex-direction: column; }
    footer .moto3 .moto-1 {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer .moto3 .moto-1 p {
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff;
        padding-left: 20px; }
    footer .moto3 .moto-2 {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer .moto3 .moto-2 p {
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff;
        padding-left: 20px; }
    footer .moto3 .moto-3 {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      align-items: center; }
      footer .moto3 .moto-3 p {
        font-family: Chivo ,sans-serif;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2.5px;
        color: #fff;
        padding-left: 20px; }
    footer .moto3 hr {
      padding-top: 10px;
      padding-bottom: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-right: 30px; }
  footer .subscription {
    position: absolute;
    top: 3482px; }
    footer .subscription h3 {
      width: 320px;
      height: 54px;
      font-family: Roboto;
      font-size: 23px;
      font-weight: bold;
      font-stretch: condensed;
      font-style: italic;
      line-height: 1.17;
      letter-spacing: 0.5px;
      color: #fff;
      padding-left: 30px; }
    footer .subscription form {
      display: flex;
      padding-left: 30px;
      padding-right: 15px;
      flex-direction: row;
      justify-content: space-between; }
    footer .subscription form > input {
      height: 50px;
      background: none;
      border: none; }
      footer .subscription form > input::placeholder {
        color: #fff; }
    footer .subscription form > button {
      background: none;
      border: none;
      color: #fff; }
    footer .subscription hr {
      padding-top: 0px;
      padding-bottom: 10px;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-right: 10px;
      margin-left: 30px; }
  footer .usefull-list {
    top: 3621px;
    position: absolute;
    padding-left: 30px; }
    footer .usefull-list ul {
      padding: 15px 0px;
      font-family: Chivo;
      font-size: 13px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: 2.5px;
      color: #fff; }
      footer .usefull-list ul li {
        list-style: none; }
    footer .usefull-list hr {
      padding-top: 0px;
      padding-bottom: 0px;
      border-top: none;
      border-left: none;
      border-right: none;
      margin-right: -225px;
      margin-left: 0px; }
  footer .social-copyright {
    position: absolute;
    top: 3800px; }
    footer .social-copyright div {
      display: flex;
      flex-direction: row;
      justify-content: center; }
      footer .social-copyright div img {
        padding-right: 30px;
        padding-bottom: 40px; }
    footer .social-copyright p c {
      width: 254px;
      height: 14px;
      margin: 24px 0 0;
      opacity: 0.5;
      font-family: Chivo;
      font-size: 12px;
      color: #fff; }

.banner-txt-desktop {
  display: none; }

header > nav > ul {
  display: none; }

.checkout-cart > a {
  display: none; }

.landing-slider > .landing-slider-2, .landing-slider-3 {
  display: none; }

@media only screen and (min-width: 1400px) {
  .banner {
    height: 27px; }
    .banner .banner-contant > .banner-text > .banner-strong-txt, .banner br {
      display: none; }
    .banner .banner-contant > .banner-text {
      flex-direction: row; }
      .banner .banner-contant > .banner-text strong {
        display: block;
        font-size: 12px;
        letter-spacing: 1.71px;
        padding-right: 5px; }
  header {
    height: 95px;
    justify-content: flex-start; }
    header .logo {
      order: -1;
      padding-left: 80px;
      padding-right: 40px; }
      header .logo img {
        width: 86px;
        height: 84px; }
    header nav {
      padding-left: 60px; }
      header nav img {
        display: none; }
      header nav ul {
        display: flex; }
        header nav ul a {
          padding-right: 60px;
          font-family: Chivo;
          font-size: 13px;
          font-weight: bold;
          letter-spacing: 2.32px;
          text-align: center;
          color: #272f33;
          text-decoration: none; }
          header nav ul a li {
            list-style: none; }
    header .checkout-cart {
      display: flex;
      position: absolute;
      float: right;
      right: 80px; }
      header .checkout-cart .mob-cart {
        display: none; }
    header .checkout-cart > a {
      display: block;
      padding-left: 40px; }
  main .landing-page {
    width: 720px;
    height: 500px; }
    main .landing-page .mask-text {
      height: 360px;
      width: 720px;
      top: 274px; }
    main .landing-page .text-btn {
      padding-top: 144px;
      padding-left: 80px;
      top: 356px; }
  main .landing-slider > .landing-slider-2, main .landing-slider-3 {
    display: block; }
  main .landing-slider {
    display: flex;
    position: absolute;
    width: 644px;
    height: 500px;
    top: 123px;
    left: 727px; }
    main .landing-slider .landing-slider-1, main .landing-slider .landing-slider-2, main .landing-slider .landing-slider-3 > img {
      object-fit: cover;
      width: 355px;
      height: 245px; }
    main .landing-slider .landing-slider-1 {
      width: 355px;
      height: 245px; }
    main .landing-slider .landing-slider-2 > img {
      width: 284px;
      height: 245px; }
    main .landing-slider .landing-slider-3 {
      position: absolute;
      top: 260px;
      width: 644px; }
      main .landing-slider .landing-slider-3 img {
        width: 644px; }
      main .landing-slider .landing-slider-3 .mask-slider-3 {
        top: 135px;
        height: 110px;
        width: 644px;
        background-image: linear-gradient(360deg, black, transparent);
        position: absolute; }
    main .landing-slider .landing-slider-2 {
      position: absolute;
      left: 360px;
      width: 284px; }
  main .product {
    display: flex;
    margin-top: 10px;
    padding: 55px 80px;
    border: solid red; }
  main .landing-slider .mask-slider-2 {
    width: 284px;
    height: 111px;
    top: 135px;
    background-image: linear-gradient(360deg, black, transparent);
    position: absolute; }
  main .landing-slider .mask-slider {
    top: 135px;
    width: 355px;
    height: 111px; } }
