* {
    margin: 0;
    padding: 0;
    font-family: Chivo, sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import 'mixins';

$whitetxt : #fff;

.banner {
    width: 100%;
    height: 38px;
    background-color: #2736dd;
    display: flex;
    align-items: center;

    .banner-contant {
        padding-top: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 15px;
        line-height: 9px;
        font-family: Chivo, sans-serif;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 7px;  

        .banner-text {
            display: flex;
            color: $whitetxt;
            flex-direction: column;
            align-items: center;

            a {
                color: $whitetxt;
            }
        }

        button {
            position: absolute;
            right: 5px;
            background: none;
            border: none;
            margin-right: 12px;

            &:hover {
                background: #434fd3;
            }

            &:active {
                background: #111a7e;
            }

        }

    }
}

header {
    width: 100%;
    height: 55px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 5px;

    nav {
        img {
            margin-left: 30px;
        }
    }

    .checkout-cart {
        img {
            margin-right: 30px;
        }
    }

}

main {
    .landing-page {
        width: auto;
        height: 320px;

        img {
            width: 100%;
            height: 100%;
        }

        .mask-text {
            width: -webkit-fill-available;
            height: 262px;
            opacity: 0.8;
            top: 156px;
            background-image: linear-gradient(360deg, black, transparent);
            position: absolute;

        }

        .text-btn {
            position: absolute;
            padding-top: 144px;
            padding-left: 20px;
            top: 156px;

            p {
                width: 76px;
                height: 15px;
                font-family: Chivo, sans-serif;
                font-size: 13px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: 2.5px;
                color: #fff;
            }

            h4 {
                width: 280px;
                height: 40px;
                margin: 0px 0 11px;
                font-family: Roboto, sans-serif;
                font-size: 40px;
                font-weight: bold;
                font-stretch: condensed;
                font-style: italic;
                line-height: 1;
                letter-spacing: 0.67px;
                color: #fff;
            }

            button {
                width: 264px;
                height: 43px;
                color: #fff;
                background: none;
                border: solid 2px #fff;
                transform: skewX(339deg);
                margin-left: 10px;

                &:hover {
                    transform: skewX(0deg);
                    margin-left: 0px;
                    opacity: 0.8;
                    background-image: linear-gradient(360deg, white, transparent);
                }

                &:active {
                    background: rgb(65, 75, 206)
                }

                span {
                    width: 128px;
                    height: 15px;
                    font-family: Chivo;
                    font-size: 13px;
                    font-weight: bold;
                }
            }
        }
    
    }

    .landing-slider {
        margin-top: 5px;
        width: 100%;
        height: 221px;

        img {
            width: 100%;
            height: 100%;
        }

        .mask-slider {
            top: 535px;
            width: -webkit-fill-available;
            height: 111px;
            background-image: linear-gradient(360deg, black, transparent);
            position: absolute;
        }

        .text-slider {
            top: 580px;
            position: absolute;

            P {
                width: 77px;
                height: 15px;
                margin-left: 20px;
                font-family: Chivo;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2.5px;
                color: #fff;

            }

            h4 {
                margin-left: 20px;
                width: 280px;
                height: 30px;
                font-family: Roboto;
                font-size: 26px;
                font-weight: bold;
                font-stretch: condensed;
                font-style: italic;
                line-height: 1.15;
                letter-spacing: 0.5px;
                color: #fff;
            }

        }
    }

    .product {
        height: 700px;
        margin-top: 5px;
        padding: 55px 20px;

        h2 { @include headerh2; }

        img {
            height: 210px;
            width: 100%;
        }

        .product-detail {
            p {
                padding-top: 20px;
                font-size: 13px;
                font-weight: bold;
                letter-spacing: 2.5px;
                color: #2736dd;
            }

            h3 {
                font-family: Roboto, sans-serif;
                font-size: 26px;
                font-weight: bold;
                font-stretch: condensed;
                font-style: italic;
                line-height: 1.15;
                color: #272f33;
                padding-bottom: 10px;
            }

            .product-price-detail {
                div {
                    display: flex;

                    img {
                        width: 96px;
                        height: 17px
                    }

                    p {
                        @include pricetextcolor;
                    }
                }
                
                p {
                    font-family: Chivo ,sans-serif;
                    font-size: 14px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.43;
                    letter-spacing: normal;
                    color: #272f33;
                }

                button { @include button (228px, 43px);
                }

            }
        }


    }

    .other-trips{
        height: 730px;

        .trip-name-1 { @include tripbox (1530px);
            
            .text-trip-name-1 { @include triptext (1530px)}
        }

        .trip-name-2 { @include tripbox (1667px);
            
            .text-trip-name-2 { @include triptext (1667px);}
        }

        .trip-name-3 { @include tripbox (1804px);
            
            .text-trip-name-3 { @include triptext (1804px);}
        }

        .trip-name-4 { @include tripbox (1940px);
            
            .text-trip-name-4 { @include triptext (1940px);}
        }

        .trip-name-5 { @include tripbox (2078px);
            
            .text-trip-name-5 { @include triptext (2078px);}
        }
    }
}

section {
    .explore-trips {
        padding-left: 20px;
        height: 400px;

        h2 {
            @include headerh2;
        }

        div > .card1 > img {
            @include pricecard;
        }

        div > .card1 > .cardtext > p {
            @include ptext(#8a8a8a);
        }

        div > .card1 > .cardtext {
            span {
                @include pricetextcolor;
            }
        }
    }
    
    .inta-section {
        height: 500px;

        h2 {
            @include headerh2;
            margin-left: 50px
        }

        button {
            @include button (197px, 43px);
            margin-top: 0px;
            margin-left: 50px
            
        }

        div {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 5px;
            justify-content: center;
            margin-top: 20px;

            img {
                height: 158px;
                width: 158px;
            }
        }
    }
}

footer {
    border: solid red 1px;
    height: 754px;
    background-image: url(https://source.unsplash.com/random/search=?men-in-trek);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .footer-mask {
        height: 754px;
        opacity: 0.3;
        background-color: #272f33;
    }

    .moto3 {
        padding-left: 30px;
        margin-top: 45px;
        position: absolute;
        display: flex;
        top: 3149px;
        flex-direction: column;

        .moto-1 {
            @include motocard;
        }

        .moto-2 {
            @include motocard;
        }

        .moto-3 {
            @include motocard;
        }

        hr {
            padding-top: 10px;
            padding-bottom: 10px;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-right: 30px;
        }
    }

    .subscription {
        position: absolute;
        top: 3482px;

        h3 {
            @include texth3(320px, 54px, 23px, 1.17);
            padding-left: 30px;
        }

        form {
            display: flex;
            padding-left: 30px;
            padding-right: 15px;
            flex-direction: row;
            justify-content: space-between;
        }
        form > input {
            height: 50px;
            background: none;
            border: none;

            &::placeholder {
                color: #fff;
            }
        }
        form > button {
            background: none;
            border: none;
            color: #fff;
        }

        hr {
            padding-top: 0px;
            padding-bottom: 10px;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-right: 10px;
            margin-left: 30px;
        }
    }

    .usefull-list {
        top: 3621px;
        position: absolute;
        padding-left: 30px;
        ul {
            padding: 15px 0px;
            font-family: Chivo;
            font-size: 13px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: 2.5px;
            color: #fff;

            li {
                list-style: none;
            }
        }

        hr {
            padding-top: 0px;
            padding-bottom: 0px;
            border-top: none;
            border-left: none;
            border-right: none;
            margin-right: -225px;
            margin-left: 0px;
        }
    }

    .social-copyright {
        position: absolute;
        top: 3800px;

        div {
            display: flex;
            flex-direction: row;
            justify-content: center;

            img {
                padding-right: 30px;
                padding-bottom: 40px;
            }
        }

        p c{
            width: 254px;
            height: 14px;
            margin: 24px 0 0;
            opacity: 0.5;
            font-family: Chivo;
            font-size: 12px;
            color: #fff;
        }
    }
}